
.container{
    height: 100vh;
    font-size: 1rem;
}
.welcome-text{
    font-size: 4em;
    font-weight: bolder;
    font-family: var( --font-family);
    color: #3F4E4F;
    text-shadow:  5px 5px 0 #AEDBCE;
}
.input{
    width: 100% !important;
}
.width{
    width: 10em !important; 
}
footer{
    position: absolute;
    bottom: 0;
    font-family: var( --font-family);
    font-size: 0.7rem;
}
.home-header{
    position:absolute;
    top: 0;
    font-family: var( --font-family);
    font-size: 1rem;
    background: #C1D5A4;
 
    border: 5px solid #E8F9FD;
}
.home-header >p {
    margin:5px 10px 10px 10px;
}
@media only screen and (max-width: 800px) {
    .responsive {
      width: 100% !important;
    }
  }